/* nav_bar style extension */
#nav_bar .auction_active {
    display: block;
    background: #bc4646;
}


/* Filter display styles */

#content_container {
    display: block;
    background-color: #fafafa;
    max-width: 950px;
}

.filter_box {
    display: block;
    color: #333;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
}

.filter_box h4 {
    margin-bottom: 10px;
    border-width: thin;
    border-color: black;
}

/* content_container */

#content_block_headline {
    width: 750px;
    margin: auto;
}


/* Table display styles */

.pos_table_cell {
    /* background-color: purple; */
}

#position_list {
    border-spacing: 0px 0px;
    /* border-collapse: seperate; */
    margin: auto;
    width: 750px;
    /* background-color: cyan; */
}

#position_list img {
    width: 70px;
    height: 70px;
    padding: 5px;
}

#position_list > tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#position_list > tbody tr:hover td {
    color: indianred;
}

#position_list img {
    display: block;
}

#position_list td,th {
    border-bottom: 2px #777 solid;
    padding: 0px;
    margin: 0px;
}

#position_list tr {
    padding: 0px;
    margin: 0px;
}

.preview_head_cell {
    text-align: left;
}

.picture_field {
    background: #e2e2e2;
}

.pos_name_field {
    text-align: left;
    width: 200px;
}

.pos_detail_ref {
    color: indianred;
    padding-left: 10px;
}

.price_field {
    text-align: right;
    width: 100px;
}

.price_span {
    display: block;
    text-align: right;
    color: indianred;
    padding-right: 10px;
}

.state_field {
    width: 100px;
}

.time_field {
    width: 250px;
}

.list_span {
    display: block;
    text-align: right;
    padding-right: 10px;
}


/* Pagination bar styles */

#page_bar ul {
    list-style-type: none;
    margin: 5px auto 0px auto;
    width: 750px;
    padding: 0;
    overflow: hidden;

}

#page_bar li {
    float: left;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 5px;

}

#page_bar span {
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20px;
    padding: 5px;
}

#page_bar .disabled span {
    color: #000;
    background: grey;
}

#page_bar li:nth-last-child(1) {
    margin-right: 0;
}

#page_bar a {
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
}

#page_bar .current_page {
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20px;
    padding: 5px;
    background: #de6868;
    border-radius: 5px;
}

#page_bar a:hover {
    background-color: #cd5757
}