/* nav_bar style extension */
#nav_bar .auction_active {
    background: #46bc46;
}

#content_container {
    max-width: 1000px;
}
/* Filter display styles */

.filter_box {
    color: #333;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
}

.filter_box h4 {
    margin-bottom: 10px;
    border-width: thin;
    border-color: black;
}


/* Auction display styles */
.position_preview {
    /* height: 340px; */
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
    background: white;
    overflow: hidden;
}

.splitbox {
    float: left;
    margin: 10px;
}

.box_left {
    width: 80px;
}

.picture_field {
    background: #e2e2e2;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.state_field {
    width: 100px;
}

.box_right {
    /*width: 500px;*/
}

.pos_detail_ref {
    color: green;
}

.pos_name_field {
    padding-left: 40px;
    text-align: left;
    width: 200px;
    margin-bottom: 5px;
}

.price_field {
    text-align: right;
    width: 100px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.list_span {
    display: block;
    text-align: right;
}
.price_span {
    text-align: right;
    display: block;
    color: green;
}

.center_box {
    margin: 0px 0px 0px 0px;
}

.description_field {
    text-align: right;
    height: 150px;
    background: #b2b2b2;
    margin-bottom: 20px;
}

.time_field {
    width: 250px;
}

.to_seperate {
    display: inline-block;
    height: 80px;
    font-size: 1.3em;
    border-right-style: solid;
    border-right-width: 2px;
    margin-right: 5px;
}

/* Pagination bar styles */

#page_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#page_bar li {
    float: left;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 5px;

}

#page_bar span {
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20px;
    padding: 5px;
}

#page_bar .disabled span {
    color: #000;
    background: grey;
}

#page_bar li:nth-last-child(1) {
    margin-right: none;
}

#page_bar a {
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
}

#page_bar .current_page {
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 20px;
    padding: 5px;
    background: #68de68;
    border-radius: 5px;
}

#page_bar a:hover {
    background-color: #57cd57
}