/* font configurations */

@font-face {
    font-family: Roboto Condensed Light;
    src: url("./fonts/RobotoCondensed-Light.ttf");
}


/* Basic Styles */

body {
    font-family: 'Roboto Condensed Light';
    background: #fafafa;
    margin: auto;
}

header {
    background-color: white;
}

#heading_picture {
    margin-top: 0;
    margin-bottom: 0;
}

#heading_picture img {
    height: 200px;
    display: block;
    /*
    margin-right: 0px;
    margin-left: auto;
    position: absolut;
    */
    float: right;
}

#page_logo_div {
    height: 150px;
    position: absolute;
}

#horizontal_rule_div {
    background-color: #444;
    height: 20px;
    clear: both;
}

.main_content {
    min-width: 1300px;
    overflow: hidden;
    background: #eaeaea;
}

.left_container {
    width: 272px;
    padding: 15px;
    float: left;
}

#content_container {
    min-width: 1000px;
    padding: 10px;
    float: left;
    background: white;
}

/* content_container design phase heritage styles */

#content_container > div {
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
}


/* Top navigation bar styles */

#nav_bar {
    position: absolute;
    top: 150px;
}

#nav_bar ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #de6868;
}

#nav_bar li {
    float: left;
    border-right: 1px solid #000;
}

#nav_bar li:nth-last-child(2) {
    border-right: none;
}

#nav_bar a {
    color: #000;
    font-size: 1.2em;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 15px;
}

#nav_bar a:hover {
    background-color: #cd5757
}

footer {
    background-color: #fafafa;
    height: 160px;
}
