/* font configurations */
@font-face {
    font-family: Roboto Condensed Light;
    src: url("./fonts/RobotoCondensed-Light.ttf");
}

/* Basic Styles */
body {
    font-family: 'Roboto Condensed Light';
    background: #d9d9d9;
    width: 1800px;
    margin: auto;
}

#heading_picture {
    background: white;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0;
}

.main_content {
    overflow: hidden;
    background: #eaeaea;
}

.left_container {
    width: 272px;
    padding: 15px;
    float: left;
}

#content_container {
    width: 1478px;
    padding: 10px;
    float: left;
    background: white;
}

/* Top navigation bar styles */
#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #de6868;
}

#nav_bar li {
    float: left;
    border-right: 1px solid #000;
}

#nav_bar li:last-child {
    border-right: none;
}

#nav_bar a {
    color: #000;
    font-size: 1.2em;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 15px;
}

#nav_bar a:hover {
    background-color: #cd5757
}

#nav_bar .active {
    background: #bc4646;
}



/* Auction display styles */
.position_preview {
    height: 340px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
    background: white;
    overflow: hidden;
}

.splitbox {
    float: left;
    margin: 10px;
}

.box_left {
    width: 280px;
}

.picture_field {
    background: pink;
    width: 280px;
    height: 280px;
    margin-bottom: 5px;
}

.state_field {
    font-size: 1.125em;
}

.box_right {
    width: 500px;
}

.pos_name_field {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.price_field {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.price_span {
    color: green;
}

.description_field {
    height: 150px;
    background: #b2b2b2;
    margin-bottom: 20px;
}

.time_field {
    font-size: 1.4em;
}


