<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Auktionshaus ATH</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/base_styles.css' %}" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <header>
        <div id="heading_picture">
            {% load static %}
            <img src="{% static 'kyoubai/images/Headgrafik_ATH/HomepageTitel.png' %}" alt="heading_picture">
        </div>
        <div id="page_logo_div">
            <img src="{% static 'kyoubai/images/ath_logo.png' %}">
        </div>
        <div id="nav_bar">
            <ul>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a href= "{% url 'kyoubai:index' %}"class="auction_active">Auktionen</a>
                </li>
                <li>
                    <a href="{% url 'kyoubai:myaccount' %}" class="myaccount_active">Mein Konto</a>
                </li>
                <li style="float:right">
                    <a href= "{% url 'kyoubai:impressum' %}"class="impressum_active" >Impressum</a>
                </li>
                <li style="float: right;">
                    {% if user.is_authenticated %}
                    <a href="#">
                    {{ user.username }}
                    </a>
                    {% else %}
                    <a href="/kyoubai/myaccount">Login?</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div id="horizontal_rule_div"></div>
    </header>
    <div class="main_content">
        <div class="left_container">
            {% block left_container %}
            {% endblock %}
        </div>
        <div id="content_container">
            {% block content_container %}
            {% endblock %}
        </div>
    </div>
    <footer>
        {% block footer %}
        <p>We always need a footer...</p>
        {% endblock %}
    </footer>
</body>
</html>