{% extends 'kyoubai/base_template.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/auction_styles.css' %}" />
    <script src="{% static 'kyoubai/filter_script.js' %}"> </script>
{% endblock %}

{% block left_container %}
    <h3>Filter Optionen</h3>
    <div class="filter_box">
        <h4>Zustand</h4>
        <select id="state_filter">
            <option value="all">Alles</option>
            <option value="new">Neu</option>
            <option value="used">Gebraucht</option>
        </select>
    </div>
    <div class="filter_box">
        <h4>Preisbereich</h4>
        von <input id="min_price_filter" type="text" size="10">
        bis <input id="max_price_filter" type="text" size="10">
    </div>
    <input type="button" id="submit_filter_button" value="Filter Anwenden" width="20px">
{% endblock %}

{% block content_container %}
<h3>Alle Auktionen</h3>
    <div class="position_preview">
            <div class="box_left splitbox">
                <div class="picture_field">
                    <img src={{ pos.pictures }} alt="preview picture" height="80" width="80" hidden="true">
                </div>
            </div>
            <div class="box_right splitbox">
                <div class="center_box">
                    <div class="pos_name_field to_seperate">
                        <a>Position</a>
                    </div>
                    <div class="state_field to_seperate">
                        <span>Zustand</span>
                    </div>
                    <div class="time_field to_seperate">
                        <span>Position endet am</span>
                    </div>
                    <div class="price_field to_seperate">
                        <span>Gebot</span>
                    </div>
                </div>
                <!--
                <div class="description_field">
                    {{ pos.pos_desc }}
                </div>
                -->
            </div>
        </div>
    {% for pos in context.position_list %}
        <div class="position_preview">
            <div class="box_left splitbox">
                <div class="picture_field">
                    <img src={{ pos.pictures }} alt="preview picture" height="80" width="80">
                </div>
            </div>
            <div class="box_right splitbox">
                <div class="center_box">
                    <div class="pos_name_field to_seperate">
                        <a class="pos_detail_ref" href="#">{{ pos.pos_name }}</a>
                    </div>
                    <div class="state_field to_seperate">
                        <span class="list_span">{{ pos.state }}</span>
                    </div>
                    <div class="time_field to_seperate">
                        <span class="list_span">{{ pos.time_end }}</span>
                    </div>
                    <div class="price_field to_seperate">
                        <span class="price_span">{{pos.price_start}} €</span>
                    </div>
                    <!--
                    <div class="description_field">
                    {{ pos.pos_desc }}
                    </div>
                    -->
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

