{% extends 'kyoubai/base_template.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/auction_styles.css' %}" />
    <script src="{% static 'kyoubai/filter_script.js' %}"> </script>
{% endblock %}

{% block left_container %}
    <h3>Filter Optionen</h3>
    <div class="filter_box">
        <h4>Zustand</h4>
        <select id="state_filter">
            <option value="all">Alles</option>
            <option value="new">Neu</option>
            <option value="used">Gebraucht</option>
        </select>
    </div>
    <div class="filter_box">
        <h4>Preisbereich</h4>
        von <input id="min_price_filter" type="text" size="10">
        bis <input id="max_price_filter" type="text" size="10">
    </div>
    <input type="button" id="submit_filter_button" value="Filter Anwenden" width="20px">
{% endblock %}

{% block content_container %}
<h3>Alle Auktionen</h3>
    <table id="position_list">
        <thead>
            <tr>
                <th>
                    <!--<img src="{% static 'kyoubai/images/prev_tree.png' %}" alt="Preview" height="80" width="80" hidden="true">-->
                    <span>Preview</span>
                </th>
                <th class="pos_name_field">
                    <a class="pos_detail_ref">Position</a>
                </th>
                <th class="state_field">
                    <span class="list_span">Zustand</span>
                </th>
                <th class="time_field">
                    <span class="list_span">Position endet am</span>
                </th>
                <th class="price_field">
                    <span class="price_span">Gebot</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for pos in context.position_list %}
            <tr>
                <td>
                    <img src="{% static 'kyoubai/images/prev_tree.png' %}" alt="preview picture" height="80" width="80">
                </td>
                <td class="pos_name_field">
                    <a class="pos_detail_ref" href="#">{{ pos.pos_name }}</a>
                </td>
                <td class="state_field">
                    <span class="list_span">{{ pos.state }}</span>
                </td>
                <td class="time_field">
                    <span class="list_span">{{ pos.time_end }}</span>
                </td>
                <td class="price_field">
                    <span class="price_span">{{pos.price_start}} €</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

