{% extends 'kyoubai/base_template.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/myaccount_styles.css' %}" />
{% endblock %}

{% block left_container %}
    HI, I'm a template on My Account
{% endblock %}

{% block content_container %}
<h3>Mein Konto</h3>
{% if user.is_authenticated %}
<a href="/kyoubai/logout">Logout</a>
{% else %}
<h2>Login Form</h2>
<form id="login-form" action="/kyoubai/myaccount" method="post">
    {% csrf_token %}
    {{ login_form }}
    <input type="submit" value="Log in" />
</form>
<a href="sign_up">Sign up</a>
{% endif %}
{% endblock %}
