{% extends 'kyoubai/base_template.html' %}

{% block stylesheets %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/carousell_styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/pos_detail.css' %}" />
    <script src="{% static 'kyoubai/remove_img_script.js' %}"> </script>

{% endblock %}

{% block left_container %}
<div id="pseudo_container_sidebar"></div>
{% endblock %}

{% block content_container %}
<div id="detail_wrapper">
    <h2>{{ article.a_name }}</h2>
    <p>{{ article.a_desc }}</p>
    <p>{{ article.price_start }}</p>
    <p>{{ article.price_growth }}</p>
    <p>{{ article.a_time_end }}</p>
    <p>{{ article.a_state }}</p>
    <p>Aktuelles Gebot: {{ mbid }}</p>
</div>

<div class="carousel_container">
    <h2>Carousel Example</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% get_static_prefix %}kyoubai/images/{{pos.pos_name}}/1.jpg" onerror="removeWrapper(this)" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% get_static_prefix %}kyoubai/images/{{pos.pos_name}}/2.jpg" onerror="removeWrapper(this)" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% get_static_prefix %}kyoubai/images/{{pos.pos_name}}/3.jpg" onerror="removeWrapper(this)" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% get_static_prefix %}kyoubai/images/{{pos.pos_name}}/4.jpg" onerror="removeWrapper(this)" style="width:100%;">
                </div>
            </div>

        <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left">&laquo;</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right">&raquo;</span>
            </a>
        </div>
</div>

<div>
    {% if user.is_authenticated %}
    <p>
        <form id="bid_form" method="post" action="/kyoubai/auctions/pos/{{ cur_pos }}">
            {% csrf_token %}
            {{ bid_form }}
            <input type="submit" value="Bieten">
        </form>
    </p>
    {% else %}
    <p>
        User is not logged in, provide option to login here ..
    </p>
    {% endif %}
</div>

{% endblock %}

{% block footer %}
    We always need a footer!
{% endblock %}

