{% extends 'kyoubai/base_template.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kyoubai/pos_detail.css' %}" />
{% endblock %}

{% block left_container %}
<div id="pseudo_container_sidebar"></div>
{% endblock %}

{% block content_container %}
<div id="detail_wrapper">
    <h2>{{ pos.pos_name }}</h2>
    <p>{{pos.pos_desc}}</p>
    <p>{{pos.price_start}}</p>
    <p>{{pos.price_growth}}</p>
    <p>{{pos.time_end}}</p>
    <p>{{pos.state}}</p>
</div>
{% endblock %}

{% block footer %}
    We always need a footer!!!!!
{% endblock %}

